<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="pages/home/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/css/main.css">
    <link rel="stylesheet" type="text/css" href="pages/home/css/util.css">
    <!--===============================================================================================-->
</head>
<body>


<h2>POI</h2>
<div id="background">
    <!-- display all cities -->
    <p ng-repeat="item in points">
        <a class="txt1" ng-click="myFunc()">
            Point Name: <span ng-bind="item.NAME"></span><br>
        </a>
        <!--<img ng-src="{{ point.image }}">-->
    </p>
</div>


<div id="poiShow" ng-show="poiShow">
    div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="container-login100-form-btn">
                <button class="login100-form-btn" ng-click="myFunc()">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
